<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles.css">
    <title>Document</title>
</head>
<body>
    <h1 th:text="${titulo}"></h1>
    <form action="/api/products" method="get">
        <label for="minPrice">Min Price:</label>
        <input type="number" step="0.01" id="minPrice" name="minPrice"  min="1">

        <label for="maxPrice">Max Price:</label>
        <input type="number" step="0.01" id="maxPrice" name="maxPrice"  min="1">

        <label for="category">Category:</label>
        <select id="category" name="category" placeholder="Selecciona la categoria" >
            <option value="">Todas</option>
            <option value="Alimentos">Alimentos</option>
            <option value="Bebidas">Bebidas</option>
            <option value="Aseo">Aseo</option>
            <option value="Higiene">Higiene</option>
        </select>
        <button type="submit">Filter Products</button>
    </form>
</body>
</html>